@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background: #D5D4D8;
    --border-container: #0A368F;
    --border-el: #888181;
    --bar-top: #253141;
    --font: #062460;
    --font-el: #D5D4D8;
    --footer: #1A1A1A;
    --action: #374962;
    --active: #964f30;

}

body {
    margin: 2em auto;
    padding: 0;
    background-color: var(--background);
    color: var(--font);
    font-family: 'Cabin', sans-serif;
    font-size: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin: auto;
    max-width: 500px;
    background-color: var(--background);
    border-radius: 8px;
    border: 8px solid var(--bar-top);
    overflow: hidden;
}
/* ===========bar-top */

.bar-top {
    display: flex;
    height: 12%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bar-top);
}

select,
input,
button {
    height: 2em;
    border: 1px solid var(--border-el);
    background-color: var(--bar-top);
    border-radius: 3px;
    color: var(--font-el);
    font-size: .75rem;
}

button {
    border: none;
    cursor: pointer;
    background-color: var(--action);
    color: var(--background)
} 

button:hover,
button:focus {
    background-color: var(--font-el);
    color: var(--bar-top)
}
button:active {
    background-color: var(--active);
    color: var(--font-el)
}


select {
    text-transform: capitalize;
    padding: 0 .5em;
    width: 50%;
}

#number-input {
    width: 3em;
    text-align: center;
}

/* ===========main */
.color-bars {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    background-color: var(--background);
}

.color-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    background-color: var(--test);
    height: 100%;
    cursor: pointer;
}

.hexa {
    background-color: var(--background);
    padding: 0.75em;
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
}

/* ===========footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background);
    background-color: var(--footer);
    padding: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5rem;
    line-height: .75rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Courier New', Courier, monospace;
}